@import "tailwindcss";


@theme {
  --color-primary-green: #1ed760;
  --color-secondary-green: #3be477;
  --color-background: #121212;
  --color-primary-text: #ffffff;
  --color-muted-text: #656565;
}

:root {
  background-color: var(--color-background);
  font-family: Cabinet Grotesk, sans-serif;
  color: var(--color-primary-text);
}